// Розміри
$container-width: 1360px;
$border-radius: 12px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;

// Точки перелому
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
