.stats {
	display: flex;
	justify-content: flex-end;
	column-gap: var(--gap-md);
}

.cards{
  margin: 20px auto 40px;
  width: fit-content;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 35px;
  align-items: center;
  justify-items: center;
  background-color: transparent;
}
